@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.align-pt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.align-pt2 img{
  margin-top: 50px;
  margin-right: 20px;
}

.facul {
  margin-left: 40px;
  margin-top: -320px;
}

.facul h1 {
  margin-top: 15px;
  color: #E65463;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.facul p {
  margin-top: 15px;
  max-width: 400px;
  text-align: justify;
  color: #E65463;
  line-height: 30px;
  font-size: 20px;
  font-family: "Inter", serif;
  margin-bottom: 50px;
}

.teatro {
  width: 600px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position: absolute;
  margin-top: 480px;
  margin-right: 50px;
}

.teatro h1 {
  margin-top: 45px;
  color: #E65463;
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.teatro p {
  margin-top: 15px;
  max-width: 450px;
  text-align: justify;
  color: #E65463;
  line-height: 30px;
  font-size: 20px;
  font-family: "Inter", serif;
  margin-bottom: 50px;
}

.text-pt2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

